svg{
    color: white;
}
/* --------------------------------------------------CSS DEL HEADER------------------------------------------------------------- */
.div-heade{
    z-index: 2;
    margin: 35px;
    width: 150px;
    height: 50px;
}

.contain-heade{
    z-index: 2;
    background-color: #ed3c9a;
    width: 100%;
    min-height: 70px;
    text-align: center;
}

.opc-encabezado{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.opcs-encabezado{
    color: #ED3C9A;
    font-weight:bold
}
.img-encabezado{
    height: 150px;
    margin: -40px;
}

.conten-encabezado-img{
    width: 400px;
}

.texto-carrusel{
    display: block;
    text-align: start;
    padding: 28% 0;
}
.titulo-carrusel{
    font-size: 250%;
}
.texto-carruseldos,.texto-carruseltres{
    display: block;
    text-align: end;
    padding: 25% 0;
}
.parrafo-texto {
    font-size: 120%;
}
  /* +++++++++++++++++++++++++++++ carrusel +++++++++++++++++++++++++++++++++++++++++++++++++*/      
  
.inicio{
    background-color: #ED3e9a;
    text-align: center;
    padding: 25px;
}
.col-item{
   margin-bottom: 5%;
   color: white;
}
.img-baño{
    border-radius: 1px 50%;
    padding:30px;
    object-fit: cover;
    transition: 1s;
    margin: 25px;
}

@media only screen and (max-width: 700px) {
    .img-baño{
        grid-area: auto;
    }
}

.img-baño:hover{
    transform: scale(1.2);
}
.baño-title{
    color: white;
}
.parrafo {
    margin:  0 100px;
}
.videoop{
    border:#ED3C9A 30px solid;
    background-color: black;
}


/* --------------------------------------------------CSS DEL FOOTER------------------------------------------------------------- */
.footer-section{
    align-items: center;
    text-align: center;
    align-content: center;
}

.div1-foter{
    height: 90px;
    width: 100%;
    background-color: #ED3C9A;
    
}

.div2-foter, .div3-foter{
    background-color: #ED3C9A;
    height: 80px;
}

.list-foter{
    text-align: center;
    list-style-type: none;
    
}
.icon-foter{
    display: inline;
    margin-right: 40px;
}

.text-footer{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}